.Synonyms {
  margin: 0 auto;
  text-align: left;
  font-size: 10px;
  color: grey;
  padding: 10px 0;
}
.Synonyms ul {
  margin-left: 5px;
}
.Synonyms li {
  margin-right: 5px;
  list-style-type: none;

  margin-right: 8px;
  transform: translateY(-23.5px);
  text-transform: capitalize;
}
